.DS_Store
.bootstrap.auto/
.bootstrap.local/
.repos/
*~.*
*.dSYM/
*.exe
*.debug
*.old
old/
tmp/
build/
build*.d/
xcuserdata/
project.xcworkspace/
stacktrace/
malloc-error/

/addictions/
/dependencies/
/tests/mulle-tests
/tests/include/
/tests/lib/
/mulle-configuration
/bin/mulle-homebrew

tests/test/doublefree
tests/test/badfree
tests/test/leak
tests/test/noleak
tests/test/noleak
tests/test/goodfree
tests/test/fail-calloc
tests/test/fail-malloc
tests/test/fail-realloc

/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos
bin/tap-info.sh
tap-info.sh
