.DS_Store
.bootstrap.auto/
.bootstrap.local/
.repos/
*~.*
*.dSYM/
*.exe
*.debug
old/
tmp/
/addictions/
/mulle-tests/
tests/include/
tests/lib/
mulle-configuration/
build/
xcuserdata/
project.xcworkspace/
dependencies/
stacktrace/
tests/test/doublefree
tests/test/badfree
tests/test/leak
tests/test/noleak
bin/mulle-homebrew/
tests/test/noleak
