{
   project =
   {
      description="🔄 Flexible C memory allocation scheme";
      domain="github";
      language="c";
      name="mulle-allocator";
      user="mulle-c";
      repo="mulle-allocator";
      homepage="https://github.com/mulle-c/mulle-allocator";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      }
   );
}
